//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Color system
$ree-white: #F0F0F0;
$ree-black: #333333;
$ree-purple: #7467F0;
$ree-blue-dark: #204285;
$ree-yellow: #d4af37;

.text-yellow {
  color: $ree-yellow;
}
