@import '@src/@core/scss/base/bootstrap-extended/_variables.scss';



.cycle-item-wrapper {
  background-color: #e9eef6;
  padding: 16px 40px;
  min-width: 80%;
}

.form-text-sub{
  color: $text-level2;
  font-weight: 400;
}
.opacity-50 {
  opacity: 0.5;
}
.cursor-pointer {
  cursor: default;
}